<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{url_for('static', filename = 'styles/enter_species_details.css')}}">
  <title>Heritage in Peril</title>
</head>
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="" method="POST">
                    <a href="{{ url_for('index') }}" style="text-decoration: none;"><h2 class>Heritage In Peril</h2></a>
                    <h3 class>(Remove Species)</h3>
                    <h3>Species</h3>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="text" name="commonName" required>
                        <label for="">Common Name</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="text" name="scientificName" required>
                        <label for="">Scientific Name</label>
                    </div>
                    <button type="submit">Delete Species</button>
                </form>
            </div>
        </div>
    </section>
  
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
<script src="/scripts/index.js" defer></script>
</html>