<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{ css_url }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}" media="screen" />
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <header class="header">
        <a href="/"><h1 class="header__logo">Heritage In Peril - Australia</h1></a>
        <span class="material-symbols-outlined">
            pets
        </span>
    </header>
    <div>
    <div class="MapWrapper">
        <div id="map-australia">
            <ul class="australia">
                <li class="au1"><a href="#Canberra">Canberra</a></li>
                <li class="au2"><a href="#NewSouthWales">New South Wales</a></li>
                <li class="au3"><a href="#NorthernTerritory">Northern Territory</a></li>
                <li class="au4"><a href="#Queensland">Queensland</a></li>
                <li class="au5"><a href="#SouthAustralia">South Australia</a></li>
                <li class="au6"><a href="#Tasmania">Tasmania</a></li>
                <li class="au7"><a href="#Victoria">Victoria</a></li>
                <li class="au8"><a href="#WesternAustralia">Western Australia</a></li>
            </ul>
        </div>
    </div>
    <div class = "OverArchingElement2">
        <section class="content">
            <div>
                <h2 class="ContentTwo__title reveal">Apply Filters To Search Through Our Database:</h2>
                <form id="filter-form" method="POST" action="" class="filter reveal">
                    <div class="InformativeText">
                        
                        <!-- Dropdown list for countries -->
                        <label for="country-dropdown">Select Region:<br></label>
                        <select id="country-dropdown" name="region" class="">
                            <!-- Options will be dynamically added here -->
                        </select>
                        <br>
                        <br>  
                        <!-- Additional filters -->
                        <label for="conservation-status">Conservation Status:<br></label>
                        <select id="conservation-status" name="conservation-status" class="">
                            <option value="5">Critically Endangered</option>
                            <option value="4">Endangered</option>
                            <option value="3">Vulnerable</option>
                            <option value="2">Near Threatened</option>
                            <option value="1">Not In Danger</option>
                        </select>
                        <br>
                        <br>
                        <!-- <label for="habitat-type">Habitat Type:</label>
                        <select id="habitat-type" name="habitat-type" class="reveal">
                            <option value="forests">Forests</option>
                            <option value="grasslands">Grasslands</option>
                            <option value="marine">Marine</option>
                            <option value="desert">Desert</option>
                            <option value="lakes">Lakes</option>
                            <option value="rivers">Rivers</option>
                        </select> -->
                        <label for="limit">Limit:<br></label>
                        <select id="limit" name="limit" class="">
                            <option value="5">5</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                        </select>   
                        <button type="submit" class="">Submit</button>
                </form>
            </div>
            <!-- <div class="species-component">
                <h2 class="ContentTwo__title reveal">Species Found:</h2>
                {% for species in filtered_species %}
                    <div class="InformativeText">
                        {% for key, value in species.items() %}
                            <h2 class="ContentTwo__subtitle reveal">{{ key }}: {{ value }}</h2>
                        {% endfor %}
                        <p class="ContentTwo__text reveal">
                            Our team of experts compiles data from scientific research, historical records, and reputable organizations.
                        </p>
                    </div>
                {% endfor %}
            </div>             -->
            <div class="species-component">
                <h2 class="ContentTwo__title reveal">Species Found:</h2>
                {% for species in filtered_species %}
                  <div class="InformativeText">
                    <img src="{{ get_unsplash_image_url(species["CommonName"]) }}" alt="Image does not exist in the database for species: {{ value }}" class="SpeciesImage">
                    <br>
                    {% for key, value in species.items() %}
                        {% if key == "CommonName" %}
                        {% endif %}
                        <h2 class="ContentTwo__subtitle reveal">{{ key }}: <br> <span class="Value">{{ value }}</span></h2>
                    {% endfor %}
                    <hr>  
                    <br>
                    <br>                  
                  </div>
                {% endfor %}   
              </div>              
        </section>
    <div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript" src="https://cssmapsplugin.com/5/jquery.cssmap.min.js"></script>
</body>
    <script type="text/javascript">
    $(document).ready(function(){
        // CSSMap;
        $("#map-australia").CSSMap({
            "size": 750,
            "onClick": function(listItem) {
                // // The listItem parameter contains information about the clicked region
                // var selectedState = listItem.text;

                // // Update the text of the dropdown
                // $("#country-dropdown").html("<option value='" + selectedState + "'>" + selectedState + "</option>");

                // // Optionally, you can call additional functions or send data to the backend
                // sendToBackend(selectedState);
            }
        });
    });
    </script>

    <script type="text/javascript">
        // Function to handle hash changes
        function handleHashChange() {
            // Get the country name from the updated URL hash
            var country = window.location.hash.substring(1);

            // Call the function to add the country to the dropdown
            addCountryToDropdown(country);
        }

        // Add event listener for hash changes
        window.addEventListener('hashchange', handleHashChange);

        // Initial call to populate the dropdown when the page loads
        handleHashChange();

        function addCountryToDropdown(country) {
            // Select the dropdown element
            var dropdown = document.getElementById('country-dropdown');

            // Create a new option element
            var option = document.createElement('option');

            // Set the value and text of the option
            option.value = country;
            option.text = country;

            // Append the option to the dropdown
            dropdown.add(option);
            option.selected=true;
        }
    </script>
 

    <script type="text/javascript">
        window.addEventListener('scroll', reveal);

        function reveal() {
        const revealer = document.querySelectorAll('.reveal');

        for (let i of revealer) {
        let windowheight = window.innerHeight;
        let revealTop = i.getBoundingClientRect().top;

        let revealPoint = 75;
        if (revealTop < windowheight - revealPoint) {
        i.classList.add('active');
        } else {
        i.classList.remove('active');  
        }
        }
        }
    </script>

</html>