<!DOCTYPE html>
<!-- Coding by CodingNepal | www.codingnepalweb.com-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Heritage In Peril - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_login.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="{{ url_for('static', filename='assets/background3.jpg') }}" alt="">
        <div class="text">
          <span class="text-1">Discover extinct and <br> exotic species</span>
          <span class="text-2">In Australia</span>
        </div>
      </div>
      <div class="back">
        <!--<img class="backImg" src="images/backImg.jpg" alt="">-->
        <div class="text">
          <span class="text-1">Complete miles of journey <br> with one step</span>
          <span class="text-2">Let's get started</span>
        </div>
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div style="font-weight: 500; font-size: 1.2rem;">Welcome to Heritage In Peril!</div>
            <div class="title">Sign Up</div>
          <form action="#" method="POST">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" name="email" placeholder="Enter your email" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" name="password" placeholder="Enter your password" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="text" placeholder="Enter your role" name="explorerCollaborator" required>
              </div>
              <div class="button input-box">
                <input type="submit" value="Sumbit">
              </div>
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                        <p class="{{msg[1]}}">{{msg}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            </div>
        </form>
    </div>
    </div>
    </div>
  </div>
</body>
</html>