/* Color Palette */
/* Font Variables */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
.parallax {
  transition: all 0.3s ease;
}

.reveal {
  position: relative;
  transform: translateY(15rem);
  opacity: 0;
  transition: all 0.4s ease 0.2s;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: hsl(0, 0%, 98%);
  overflow-x: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  box-sizing: inherit;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 3rem 10rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
}
.header__logo {
  font-size: 3.2rem;
  pointer-events: none;
  color: hsl(169, 47%, 39%);
  margin-right: 10vw;
}
.header__navigation--link {
  text-decoration: none;
  color: hsl(169, 47%, 39%);
  padding: 0.6rem 1.5rem;
  border-radius: 2rem;
  margin: 0 1rem;
  font-weight: 600;
  transition: 0.5s ease-out 0.2s;
}
.header__navigation--link:hover, .header__navigation--link.active {
  background: hsl(169, 47%, 39%);
  color: #fff;
}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 3rem 10rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 100;
  background-color: hsl(168, 100%, 10%);
  overflow-y: hidden;
}
.footer__logo {
  font-size: 3.2rem;
  pointer-events: none;
  color: #fff;
  margin-right: 27rem;
}
.footer__copy {
  font-size: 1rem;
  pointer-events: none;
  color: #fff;
  margin-right: 27rem;
}

.parallax {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  overflow: hidden;
}
.parallax__title {
  position: absolute;
  font-size: 5em;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.parallax img {
  position: absolute;
  width: 100%;
}
.parallax img#hill3, .parallax img#hill4, .parallax img#hill5, .parallax img#plant, .parallax img#hill2, .parallax img#hill1, .parallax img#tree {
  bottom: 0;
  left: 0;
}
.parallax img#leaf {
  top: 0;
  right: 0;
}
.OverArchingElement
{
  position: relative;
  background-color: hsl(168, 100%, 10%);
}
.content {
  position: relative;
  width: 80%;
  padding: 10rem;
  height: 100%;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;  
  align-items: left;
}
.InformativeText{
  display: flex;
  gap:20rem;
}
.content__title {
  font-size: 6.4rem;
  margin-bottom: 3rem;
  color: #369381;
}
.content__subtitle {  
  font-size: 3.2rem;
  margin-bottom: 3rem;
  color: #369381;
}
.content__text {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 300;
  margin-bottom: 5rem;
}
.OverArchingElement2
{
  position: relative;
  background-color: #369381;
}
.ContentTwo
{
  position: relative;
  width: 70%;
  padding: 10rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: left;
}
.ContentTwo__title {
  font-size: 6.4rem;
  margin-bottom: 3rem;
  color: hsl(168, 100%, 10%);
}
.ContentTwo__subtitle {  
  font-size: 3.2rem;
  margin-bottom: 3rem;
  color: #93DFD5;
}
.ContentTwo__text {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 300;
  margin-bottom: 5rem;
}
.ButtonWrapper {
  position: relative;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  height: 10rem;
  width: 80rem;
  background: hsl(168, 100%, 10%);
  border: 0px;
  border-radius: 25px;
}
.ButtonInput
{
  font-family: Poppins;
  font-size: 3.2rem;
  font-weight: 100;
  color: #fff;
  margin: auto;
  border: none;
  background-color: hsl(168, 100%, 10%);
}
.SubButton {
  font-family: Poppins;
  font-weight: 500;
  border: none;
  font-size: 2.7rem;
  color: #fff;
  height: 6rem; /* Set the same height as .ButtonInput */
  width: 35%; /* Set a lesser width */
  background-color: #93DFD5; /* Set background color to #93DFD5 */
  border-radius: 10px;
  margin: auto;
}

/*# sourceMappingURL=styles.css.map */
